<div id="<%= dom_id usuario %>">
  <p>
    <strong>Email:</strong>
    <%= usuario.email %>
  </p>

  <p>
    <strong>Senha:</strong>
    <%= usuario.senha %>
  </p>

  <p>
    <strong>Tipo:</strong>
    <%= usuario.tipo %>
  </p>

</div>
